@charset "utf-8";

// Update some of Bulma's component variables
$body-background-color: #3498dbd1;
$body-overflow-x: hidden;
$body-overflow-y: hidden;
$divider-color: black;

body{
    overflow: hidden;
}

.pageCentered{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm{
    width: 400px;
}

.registerForm{
    width: 400px;
}

.languageSelect {
    max-width: fit-content;
}

@import "../node_modules/bulma/bulma.sass";

a.navbar-custom {
    cursor: pointer;
}

.navbar-custom {
    border-radius: 50rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    line-height: 1.5;
    color: black;
    min-width: 95px;
    margin-left: 1px;
    margin-right: 1px;
}

.navbar-custom:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active {
    color: white;
    background-color: rgb(35, 41, 43);
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-menu {
    margin: 5px;
}

.navbar-index {
    z-index: 1 !important;
}

.user-info {
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bold;
}

.form-feedback {
    color: #f14668;
    font-size: inherit;
    position: relative;
    display: flex;
    align-items: center;
}

.form-feedback-ok {
    color: #038014;
    font-size: inherit;
    position: relative;
    display: flex;
    align-items: center;
}

.showpass {
    cursor: pointer;
    pointer-events: all !important;
}

.inputpass {
    font-weight: normal !important;
}

.customIcon {
    font-size: x-large;
    text-align: center;
    position: inherit;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.not-border {
    border: none !important;
    box-shadow: unset !important;
}

.languageSelect select {
    border-radius: 15px;
}

.languageSelect select:hover {
    background: #e4e3e3;
}

.customIcon:hover {
    background: #e4e3e3;
}

.profile-picture {
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff0f;
    width: 60px;
    height: 60px;
    filter: drop-shadow(0px 0px 0px black);
}

.customBox {
    width: 450px;
    height: 550px;
    position: fixed;
    right: 230px;
    background: #fffefe;
    z-index: 2;
    top: 65px;
    padding: 0;
}

.notificationTitleContainer {
    background: #cecece;
    height: 40px;
}

.notificationTitle {
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    align-items: center;
    height: 100%;
}