@charset "utf-8";

// Update some of Bulma's component variables
$body-background-color: #3498dbd1;
$body-overflow-x: hidden;
$body-overflow-y: hidden;

body{
    overflow: hidden;
}

.pageCentered{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginForm{
    width: 400px;
}

.registerForm{
    width: 400px;
}

.languageSelect {
    max-width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}

@import "../node_modules/bulma/bulma.sass";

a.navbar-custom {
    cursor: pointer;
}

.navbar-custom {
    border-radius: 50rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    line-height: 1.5;
    color: black;
    min-width: 95px;
    margin-left: 1px;
    margin-right: 1px;
}

.navbar-custom:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active {
    color: white;
    background-color: rgb(35, 41, 43);
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-menu {
    margin: 5px;
}

.user-info {
    margin-left: 10px;
    margin-right: 5px;
    font-weight: bold;
}

.form-feedback {
    color: #f14668;
    font-size: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    padding: 4px;
}