@charset "utf-8";

// Update some of Bulma's component variables
$body-background-color: #3498dbd1;
$body-overflow-x: hidden;
$body-overflow-y: hidden;
$divider-color: black;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

html, body{
    height: 100%;
    overflow: auto;
}

.pageCentered{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
}

.createProducts{
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.loginForm{
    width: 400px;
}

.registerForm{
    width: 400px;
}

.createProductForm{
    width: 660px;
}

.languageSelect {
    max-width: fit-content;
}

@import "../node_modules/bulma/bulma.sass";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";


a.navbar-custom {
    cursor: pointer;
}

.navbar-custom {
    border-radius: 50rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    line-height: 1.5;
    color: black;
    min-width: 95px;
    margin-left: 1px;
    margin-right: 1px;
    min-height: 45px;
    margin-top: 4px;
}

.navbar-custom:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active:hover {
    color: black;
    background-color: aquamarine;
}

.navbar-custom.is-active {
    color: white;
    background-color: rgb(35, 41, 43);
    margin-left: 10px;
    margin-right: 10px;
}

.navbar-menu {
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}

.navbar-index {
    z-index: 1 !important;
}

.user-info {
    margin-left: 20px;
    font-weight: bold;
}

.form-feedback {
    color: #f14668;
    font-size: inherit;
    position: relative;
    display: flex;
    align-items: center;
}

.form-feedback-ok {
    color: #038014;
    font-size: inherit;
    position: relative;
    display: flex;
    align-items: center;
}

.showpass {
    cursor: pointer;
    pointer-events: all !important;
}

.inputpass {
    font-weight: normal !important;
}

.customIcon {
    font-size: x-large;
    text-align: center;
    position: inherit;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
}

.not-border {
    border: none !important;
    box-shadow: unset !important;
}

.languageSelect select {
    border-radius: 15px;
}

.languageSelect select:hover {
    background: #e4e3e3;
}

.customIcon:hover {
    background: #e4e3e3;
}

.profile {
    cursor: pointer;
    width: 80px;
}

.profile-active {
    background: #eaf5fa;
}

.profile-picture {
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    background: #ffffff0f;
    width: 55px;
    height: 55px;
    margin-top: 2px;
    filter: drop-shadow(0px 0px 0px black);
}

.customBox {
    width: 450px;
    height: 550px;
    position: fixed;
    right: 100px;
    background: #f6fcff;
    z-index: 5;
    top: 60px;
    padding: 0;
}

.customBoxProfile {
    width: 200px;
    height: 200px;
    position: fixed;
    background: #eaf5fa;
    z-index: 2;
    right: -5px;
    top: 60px;
    padding: 0;
    cursor: default;
}

.customSelectLanguage {
    width: 65px;
    height: 100%;
    display: grid;
    align-content: center;
    cursor: pointer;
}

.customSelectaLanguageText i {
    align-content: flex-end;
    width: 5px;
    margin-left: 25%;
}

.customSelectaLanguageText  {
    display: inline-block;
    margin-left: 10px;
}

.customSelectLanguage:hover {
    background: #e2e2e2;
}

.customBoxLanguage {
    width: 50px;
    height: 75px;
    position: fixed;
    background: #e2e2e2;
    z-index: 4;
    top: 55px;
    padding: 0;
    border-radius: 10%;
    cursor: auto;
}

.optionLanguage {
    width: 32px;
    height: 35px;
    margin-left: 10px;
    align-content: center;
    display: grid;
}

.notificationTitleContainer {
    background: #cecece;
    height: 40px;
}

.notificationTitle {
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    align-items: center;
    height: 100%;
}

.profileTitleContainer {
    height: 40px;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.profileTitle {
    display: flex;
    margin-left: 20px;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    align-items: center;
    height: 100%;
}

.buttonLogin:hover {
    background-color: #e4e3e3;
}

.buttonLogin{
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
}

.loginText{
    margin-right: 5px;
    margin-left: 5px;
}


.google-btn {
    cursor: pointer;
    width: 184px;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }
    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }
    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto", sans-serif;
    }
    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }
    &:active {
        background: $button-active-blue;
    }
}

.buttonRegister {
    display: block;
}
  
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);

  .navbar-start {
      margin-top: 5px;
      margin-bottom: 5px;
  }

.hidden {
    display: none;
}

.field_haveAccount {
    margin-top: 12px;
}

.field_haveAccount a {
    margin-left: 8px;
}

.ListProducts {
    display: flex;
    flex-flow: row wrap;
}

.ListProducts li {
    margin: 10px;
}

.buttonGoMyProducts {
    margin-top: 20px;
    justify-content: center;
    align-self: center;
    align-items: center;
    display: flex;
}

.clickable {
    cursor: pointer;
}

.productPrice {
    font-size: 21px;
}

.productCoin {
    font-size: 12px;
    position: unset;
    margin-left: 3px;
    width: fit-content;
}

.productCoin, .productPrice {
    display: inline-block;
}

.deleteProduct {
    color: #485fc7;
    cursor: pointer;
    margin-top: 17px;
    display: inline-block;
    position: absolute;
    right: 5px;
}

.progressCustom {
    margin-bottom: 0 !important;
}

.passwordStrengthText {
    text-align: right;
}

.passWeak {
    color: red;
}

.passGood {
    color: yellowgreen;
}

.passStrong {
    color: green;
}

.media-scroller {
    --_spacer: var(--size-3);
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    margin-top: 10px;
}
  
.media-scroller--with-groups {
    grid-auto-columns: 80%;
}
  
.media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
}
  
.media-element {
    grid-template-rows: min-content;
    gap: var(--_spacer);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
}
  
.media-element > img {
    inline-size: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
  
.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}
  
.snaps-inline > * {
    scroll-snap-align: start;
}

::-webkit-scrollbar {
    width: 0px;
}

.input {
    cursor: text;
}

.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    left: 90%;
    margin-bottom: 3%;
    margin-top: 4%;
    cursor: pointer;
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}
.buyCoinsForm {
    width: 700px;
    position: absolute;
    left: 20%;
    top: 10%;
}