error
mariadb
**/node_modules
**/.env
FrontService/stylesheets
FrontService/.next
ProductsService/log
ProductsService/files
ProductsService/npm-debug.log
UsersService/log
UsersService/files
UsersService/npm-debug.log
TFG-Test/node_modules
certs/localhost/sslcache
MailerService/log
entities-lib/node_modules
config-lib/node_modules
.env