error
mariadb
TFG-Frontend/stylesheets
TFG-Frontend/node_modules
TFG-Frontend/.env
ProductsService/node_modules
ProductsService/log
ProductsService/.env
ProductsService/files
ProductsService/npm-debug.log
UsersService/node_modules
UsersService/log
UsersService/.env
UsersService/files
UsersService/npm-debug.log
TFG-Frontend/.next
TFG-Test/node_modules
certs/localhost/sslcache
MailerService/node_modules
MailerService/.env
MailerService/log
entities-lib/node_modules
config-lib/node_modules
.env