error
mariadb
TFG-Frontend/stylesheets
TFG-Frontend/node_modules
TFG-Frontend/.env
TFG-Backend/node_modules
TFG-Backend/log
TFG-Backend/.env
TFG-Backend/files
TFG-Backend/npm-debug.log
TFG-Frontend/.next
TFG-Test/node_modules
certs/localhost/sslcache
MailerService/node_modules
MailerService/.env
MailerService/log
.env